<div class="container-fluid">
    <div class="float-left col-sm-3">
        <h2>June 2018</h2>
    </div>
    <div class="float-right col-sm-5 text-right">
        <div class="btn-group-sm">
            <button type="button" id="previousWeek" class="btn btn-light">Previous week</button>
            <button type="button" id="nextWeek" class="btn btn-light">Next week</button>
        </div>
    </div>
    <br style="clear: both;" />
</div>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm day" *ngFor="let day of days">
            <h4>{{ day.name }} <strong>{{ day.date.getMonth() + 1 }}/{{ day.date.getDate() }}</strong></h4>

            <div class="activity" *ngFor="let activity of day.activities" routerLink="/new">
                <strong>{{ activity.starts_at }} - {{ activity.ends_at }}</strong><br />
                {{ activity.title }}
            </div>
        </div>
    </div>
</div>

<div class="btn-group-sm mt-sm-4">
    <button type="button" class="btn btn-light" routerLink="/new">Add activity</button>
</div>