<div class="container-fluid">
    <div class="row">
        <div class="float-left col-sm-3">
            <div id="error"></div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ activity.title }}</h5>
                    <p class="card-text">{{ activity.description }}</p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Location:</strong> {{ activity.location }}</li>
                    <li class="list-group-item">
                        <strong>Starts at:</strong>
                        {{ activity.starts_at.toLocaleString() }}
                    </li>
                    <li class="list-group-item">
                        <strong>Ends at:</strong>
                        {{ activity.ends_at.toLocaleString() }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="float-right col-sm-5">
            <h2>Attachments</h2>
            <div *ngIf="activity.attachments.length">
                <ul id="attachments">
                    <li *ngFor="let attachment of activity.attachments">
                        <a href="http://localhost:8000/attachment/{{ attachment.id }}">{{ attachment.filename }}</a><br />
                        <small>Added on {{ attachment.created_at }}</small>
                    </li>
                </ul>
            </div>
            <div *ngIf="!activity.attachments.length">
                There are no attachments associated with this activity.
            </div>
        </div>

        <br style="clear: both;" />
    </div>
</div>

<div class="btn-group mt-sm-4">
    <button type="button" class="btn btn-light" routerLink="/">Back to index</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    <button type="button" class="btn btn-primary" routerLink="/activity/{{ id }}/edit">Edit</button>
</div>