@import url('assets/css/app.component.css');
@import url('assets/css/index.component.css');
@import url('assets/css/responsive.css');
@import url('assets/css/forms.css');

/* General styles */
body {
    background: #d1d1d1;
    padding: 0 0 50px 0;
    margin: 0;
    font-family: "Noto Sans", Arial, Verdana;
    font-size: 95%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
    color: #4b4c4c;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;   
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 110%;
}