<h2>Edit activity</h2>
<div class="mt-sm-3 col-6">
    <form>
        <div class="form-group">
            <label for="titleInput">Activity title</label>
            <div>
                <input type="text" class="form-control" id="titleInput" placeholder="New activity" />
            </div>
        </div>

        <div class="form-group">
            <label for="dateInput">Date</label>
            <div>
                <input type="date" class="form-control" id="dateInput" />
            </div>
        </div>

        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <div>
                <textarea class="form-control" id="descriptionInput" placeholder="New activity" rows="10"></textarea>
            </div>
        </div>

        <div class="btn-group mt-sm-3">
            <button type="button" class="btn btn-light" routerLink="/index">Back to index</button>
            <button type="button" class="btn btn-primary">Save activity</button>
        </div>
    </form>
</div>