<h2>{{ isNewArticle ? 'New' : 'Edit' }} activity</h2>
<div class="container-fluid">
    <div class="row">
        <div class="mt-sm-3 col-12">
            <div id="error"></div>
            <form role="form" id="editor" name="editor" (submit)="saveActivity(event)" [formGroup]="editorForm" novalidate>
                <div class="float-left col-md-5">
                    <small class="text-danger" *ngIf="editorForm.get('title').hasError('required') && editorForm.get('title').dirty">You must enter a title.</small>
                    <small class="text-danger" *ngIf="editorForm.get('title').hasError('minlength') && editorForm.get('title').dirty">The title is too short. It must be at least 5 characters long.</small>
                    <small class="text-danger" *ngIf="editorForm.get('title').hasError('maxlength')">The title is too long. It cannot consist of more than 50 characters.</small>

                    <div class="form-group">
                        <label for="titleInput">Activity title</label>
                        <div>
                            <input type="text" class="form-control" id="titleInput" placeholder="New activity" formControlName="title" ng-model="title" />
                        </div>
                    </div>

                    <small class="text-danger" *ngIf="editorForm.get('location').hasError('maxlength') && editorForm.get('location').dirty">The location is too long. It cannot consist of more than 50 characters.</small>

                    <div class="form-group">
                        <label for="locationInput">Location</label>
                        <div>
                            <input type="text" class="form-control" id="locationInput" placeholder="Location" formControlName="location" ng-model="location" />
                        </div>
                    </div>

                    <small class="text-danger" *ngIf="(!editorForm.get('startDate').valid && editorForm.get('startDate').dirty) || (!editorForm.get('startTime').valid && editorForm.get('startTime').dirty)">Invalid date/time input.</small>

                    <div class="form-group">
                        <label for="startingDateInput">Starting date</label>
                        <div>
                            <input type="date" class="form-control" id="startingDateInput" formControlName="startDate" ng-model="startDate" />
                            <input type="text" class="form-control time-input" id="startingTimeInput" placeholder="00:00" maxlength="5" formControlName="startTime" ng-model="startTime" />
                        </div>
                    </div>

                    <small class="text-danger" *ngIf="(!editorForm.get('endDate').valid && editorForm.get('endDate').dirty) || (!editorForm.get('endTime').valid && editorForm.get('endTime').dirty)">Invalid date/time input.</small>

                    <div class="form-group">
                        <label for="endDateInput">End date</label>
                        <div>
                            <input type="date" class="form-control" id="endDateInput" formControlName="endDate" ng-model="endDate" />
                            <input type="text" class="form-control time-input" id="endTimeInput" placeholder="00:00" maxlength="5" formControlName="endTime" ng-model="endTime" />
                        </div>
                    </div>
                </div>

                <div class="float-right col-md-6">
                    <small class="text-danger" *ngIf="editorForm.get('description').hasError('maxlength')">The description is too long. It cannot consist of more than 50 characters.</small>

                    <div class="form-group">
                        <label for="descriptionInput">Description</label>
                        <div>
                            <textarea class="form-control" id="descriptionInput" placeholder="New activity" rows="10" formControlName="description" ng-model="description">{{ isNewArticle ? '' : activity.description }}</textarea>
                        </div>
                    </div>

                    <h2>Attachments</h2>
                    <ul id="attachments" *ngIf="!isNewArticle == true">
                        <li *ngFor="let attachment of activity.attachments" id="attachment-{{ attachment.id }}">
                            <a href="{{ environment.api_url}}/attachment/{{ attachment.id }}/download">{{ attachment.filename }}</a><br />
                            <small>
                                Added on {{ attachment.created_at }} |
                                Click <strong><a (click)="deleteAttachment(attachment.id)">here</a></strong> to remove
                            </small>
                        </li>
                    </ul>

                    <h3>Upload additional files</h3>
                    <input type="file" id="attachmentsInput" multiple />
                </div>

                <br style="clear: both;" />

                <div class="btn-group mt-sm-3">
                    <button type="button" class="btn btn-light" routerLink="/activity/{{ id }}">Back to activity</button>
                    <button id="submit_form" type="submit" class="btn btn-primary" [disabled]="editorForm.status === 'INVALID'">Save activity</button>
                </div>
            </form>
        </div>
    </div>
</div>