<h2>{{ isNewArticle ? 'New' : 'Edit' }} activity</h2>
<div class="container-fluid">
    <div class="row">
        <div class="mt-sm-3 col-12">
            <div id="error"></div>
            <form id="editor" (submit)="saveActivity(event)">
                <div class="float-left col-md-5">
                    <div class="form-group">
                        <label for="titleInput">Activity title</label>
                        <div>
                            <input type="text" class="form-control" id="titleInput" placeholder="New activity" value="{{ isNewArticle ? '' : activity.title }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="locationInput">Location</label>
                        <div>
                            <input type="text" class="form-control" id="locationInput" placeholder="Location" value="{{ isNewArticle ? '' : activity.location }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="startingDateInput">Starting date</label>
                        <div>
                            <input type="date" class="form-control" id="startingDateInput" value="{{ isNewArticle ? '' : activity.start_date_value }}" />
                            <input type="text" class="form-control time-input" id="startingTimeInput" placeholder="00:00" maxlength="5" value="{{ isNewArticle ? '' : activity.start_time_value }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="endDateInput">End date</label>
                        <div>
                            <input type="date" class="form-control" id="endDateInput" value="{{ isNewArticle ? '' : activity.start_date_value }}" />
                            <input type="text" class="form-control time-input" id="endTimeInput" placeholder="00:00" maxlength="5" value="{{ isNewArticle ? '' : activity.end_time_value }}" />
                        </div>
                    </div>
                </div>

                <div class="float-right col-md-6">
                    <div class="form-group">
                        <label for="descriptionInput">Description</label>
                        <div>
                            <textarea class="form-control" id="descriptionInput" placeholder="New activity" rows="10">{{ isNewArticle ? '' : activity.description }}</textarea>
                        </div>
                    </div>

                    <h2>Attachments</h2>
                    <ul id="attachments" *ngIf="!isNewArticle == true">
                        <li *ngFor="let attachment of activity.attachments" id="attachment-{{ attachment.id }}">
                            <a href="http://localhost:8000/attachment/{{ attachment.id }}/download">{{ attachment.filename }}</a><br />
                            <small>
                                Added on {{ attachment.created_at }} |
                                Click <strong><a (click)="deleteAttachment(attachment.id)">here</a></strong> to remove
                            </small>
                        </li>
                    </ul>

                    <h3>Upload additional files</h3>
                    <!--<div class="custom-file">
                        <input type="file" id="attachmentsInput" class="custom-file-input" multiple />
                        <label class="custom-file-label" for="attachmentsInput">Pick files</label>
                    </div>-->
                    <input type="file" id="attachmentsInput" multiple />
                </div>

                <br style="clear: both;" />

                <div class="btn-group mt-sm-3">
                    <button type="button" class="btn btn-light" routerLink="/activity/{{ id }}">Back to activity</button>
                    <button id="submit_form" type="submit" class="btn btn-primary">Save activity</button>
                </div>
            </form>
        </div>
    </div>
</div>