<h2>{{ isNewArticle ? 'New' : 'Edit' }} activity</h2>
<div class="container-fluid">
    <div class="row">
        <div class="mt-sm-3 col-12">
            <form id="editor" (submit)="saveActivity()">
                <div class="float-left col-md-5">
                    <div class="form-group">
                        <label for="titleInput">Activity title</label>
                        <div>
                            <input type="text" class="form-control" id="titleInput" placeholder="New activity" value="{{ isNewArticle ? '' : activity.title }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="locationInput">Location</label>
                        <div>
                            <input type="text" class="form-control" id="locationInput" placeholder="Location" value="{{ isNewArticle ? '' : activity.location }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="startingDateInput">Starting date</label>
                        <div>
                            <input type="date" class="form-control" id="startingDateInput" value="{{ isNewArticle ? '' : activity.start_date_value }}" />
                            <input type="text" class="form-control time-input" id="startTimeInput" placeholder="00:00" maxlength="5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="endDateInput">End date</label>
                        <div>
                            <input type="date" class="form-control" id="endDateInput" value="{{ isNewArticle ? '' : activity.start_date_value }}" />
                            <input type="text" class="form-control time-input" id="endTimeInput" placeholder="00:00" maxlength="5" />
                        </div>
                    </div>
                </div>

                <div class="float-right col-md-6">
                    <div class="form-group">
                        <label for="descriptionInput">Description</label>
                        <div>
                            <textarea class="form-control" id="descriptionInput" placeholder="New activity" rows="15">{{ isNewArticle ? '' : activity.description }}</textarea>
                        </div>
                    </div>
                </div>

                <br style="clear: both;" />

                <div class="btn-group mt-sm-3">
                    <button type="button" class="btn btn-light" routerLink="/index">Back to index</button>
                    <button type="submit" class="btn btn-primary">Save activity</button>
                </div>
            </form>
        </div>
    </div>
</div>