ul#attachments {
    list-style: none;
    padding: 0;
}

ul#attachments li {
    margin: 1px;
    padding: 8px;
    border-left: 6px solid #c1ddc1;
    font-size: 110%;
    letter-spacing: -1px;
    background: #f4f9f5;
}

ul#attachments li a {
    color: #444f46;
}