#wrapper {
    width: 95%;
    margin: auto;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

#header {
    padding: 40px 20px 40px 20px;
    color: #fff;
    font-size: 200%;
    background: url('../images/header.jpg') repeat-x;
    background-size: 100% auto;
    background-position: 0% 15%;
    text-shadow: 2px 2px #333333;
}

/* Navigation bar */
#top-bar {
    background: linear-gradient(180deg, #f4f4f4, #e8e9ea);
    border-bottom: 1px solid #cccccc;
}

#top-bar .nav-link {
    color: #636363;
    text-shadow: 2px 2px #dcdcdc;
}

/* Content styles */
#page-content {
    padding: 15px;
    background: #fcfcfc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}