/* Calendar styles */
.day h4 {
    text-align: right;
}

.day .activity {
    margin-bottom: 5px;
}

.day .activity {
    font-size: 85%;
    background: #779b78;
    color: #fff;
    padding: 5px;
}